{% extends 'main/base.html' %}

{%  block content %}
<div class="col-lg-10">
    <div class="content">
        <h1 class="card-title text-center mt-5">Users list page</h1>
{#        <a href="{% url 'main:mailing_create' %}" class="btn btn-primary">Add new mailing</a>#}
        <div class="container mt-5 overflow-hidden">
            <div class="row">
                {% for object in object_list %}
                    <div class="pb-3">
                    <div class="col-lg-12 col-md-12">
                        <div class="card text-center">
                            <div class="card-header">
                                <h5> {{ object.email }} </h5>
                                <div class="text-right">
                                {% if request.user.is_authenticated %}
                                    {% if object.is_active %}
                                    <a href="{% url 'main:mailing_activate' object.pk %}" class="btn btn-danger">DeActivate</a>
                                    {% else %}
                                        <a href="{% url 'main:mailing_activate' object.pk %}" class="btn btn-primary">Activate</a>
{#                                        {% if object.status == 'is active' %}#}
{#                                            <a href="{% url 'main:mailing_deactivate' object.pk %}" class="btn btn-primary">Close</a>#}
{#                                        {% else %}#}
{#                                            <p> Completed and closed </p>#}
{#                                        {% endif %}#}
                                    {% endif %}
                                {% endif %}
                                </div>
                            </div>
                            <div class="card-body text-left">
                                <p><b>first name:</b>{{ object.first_name }}</p>
                                <p><b>last name:</b>{{ object.last_name}}</p>
                                <p><b>phone:</b>{{ object.phone }}</p>
                                <p><b>country:</b>{{ object.country }}</p>
{#                                <div class="text-right">#}
{#                                    <a href="{% url 'main:mailing_delete' object.pk %}" class="btn btn-danger">Delete</a>#}
{#                                    <a href="{% url 'main:mailing_update' object.pk %}" class="btn btn-secondary">Edit</a>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}