{% extends 'main/base.html' %}
{% load my_tags %}

{%  block content %}
<div class="col-lg-10">
    <div class="content">
        <h1 class="card-title text-center mt-5">Mailing log</h1>
        <div class="container mt-5 overflow-hidden">
            <div class="row">
                {% for object in object_list %}
                    <div class="col-lg-12 col-md-12">
                        <p> {{ object.send_time | cut_time }} mailing: <b> {{ object.mailing_list_id }} ; </b>
                                <b>Status:</b>{{ object.status }};
                                <b>start time:</b>{{ object.mailing_list_id.start | cut_time }};
                                <b>finish time:</b>{{ object.mailing_list_id.finish | cut_time }};
                                <b>response:</b>{{ object.response }};
                                <b>client:</b>{{ object.client }};
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}