
<div class="col-lg-2 bg-dark">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 660px">
        <a href="{% url 'main:index' %}"
           class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32">
                <use xlink:href="#home"></use>
            </svg>
            <span class="fs-4">Main menu</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{% url 'main:index' %}" class="nav-link text-white" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    Main page
                </a>
            </li>

            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'main:mailing_list' %}" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Mailing list
                </a>
            </li>
            <li>
                <a href="{% url 'main:client_create' %}" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    New client
                </a>
            </li>
            {% endif %}
            {% if perms.main.view_client %}
            <li>
                <a href="{% url 'users:users_view' %}" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#grid"></use>
                    </svg>
                    List of Users
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'main:log_view' %}" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#grid"></use>
                    </svg>
                    View Logs
                </a>
            </li>

{#            <li>#}
{#                <a href="{% url 'main:add_new_product' %}" class="nav-link text-white">#}
{#                    <svg class="bi pe-none me-2" width="16" height="16">#}
{#                        <use xlink:href="#grid"></use>#}
{#                    </svg>#}
{#                    Adding new product#}
{#                </a>#}
{#            </li>#}
            <li>
                <a href="{% url 'blog:blogs_view' %}" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#grid"></use>
                    </svg>
                    Blogging
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            {% if request.user.is_authenticated %}
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="" width="94" height="94" class="rounded-circle me-2">
                    {% else %}
                        <img src="https://github.com/kirsansan.png" alt="" width="94" height="94" class="rounded-circle me-2">
                    {% endif %}
                    <strong>hello {{ user.email }} ({{ user.first_name }}) </strong>
                </a>
            {% else %}
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/skyprotutors.png" alt="" width="94" height="94" class="rounded-circle me-2">
                    <strong> No user </strong>
                    </a>
            {% endif %}
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">

                {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="{% url 'users:login' %}">Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'users:register' %}">Registration</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>